
a {
  color: #ffffff;
}

a.route{
  color: #000;
}

.navbar {
  border-radius: 0;
  background-color: #10c9fe;
}

footer {
  background: rgba(0,0,0,0.3);
  background-color: #10c9fe;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .container {
  text-align: center;
  position: relative;