{% extends "index_with_footer.html" %}

{% block extra_css_top %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/route/map.css">
{% endblock extra_css_top %}

{% block extra_js_top %}
  <script type="text/javascript">

   var map;
   var marker;
   var dir = MQ.routing.directions();
   var points = [];

    function onMapDblClick(event) {
     // alert("You clicked the map at " + e.latlng);
      //marker = L.marker(e.latlng, {draggable:'true'} ).addTo(map);
      //marker.on('click', onMarkerClick);
      //points.push([e.latlng.lat,e.latlng.lng]);
      var lat = event.ll.getLatitude();
      var lng = event.ll.getLongitude();
      addNewRoute(lat,lng);
      updateRoutes();
    }

    function addNewRoute(lat,lng){
      points.push([lat,lng]);
    }

    
   $(document).ready(function() {

     points.push([7.09359 ,125.60841]);
     points.push([7.16356,125.60845]);
     points.push([7.17356,125.60945]);
     

     getMap();
     updateRoutes();
     MQA.withModule('largezoom','viewoptions','geolocationcontrol','insetmapcontrol','mousewheel', function() {
           map.addControl(
             new MQA.LargeZoom(),
             new MQA.MapCornerPlacement(MQA.MapCorner.TOP_LEFT, new MQA.Size(5,5))
           );
         
            var options={
             size: { width: 150, height: 125 },
             zoom: 3,
             mapType: 'osmsat',
             minimized: false
           };
         
           map.addControl(
             new MQA.InsetMapControl(options),
             new MQA.MapCornerPlacement(MQA.MapCorner.BOTTOM_RIGHT)
           );
         
           map.enableMouseWheelZoom();
         });
      
     });

     function updateRoutes(){
      var locations = new Array(points.length);
       for(i = 0; i <points.length ; i++){
            locations.push({latLng: {lat: points[i][0], lng: points[i][1]}})
        }
        MQA.withModule('directions', function() {
        map.addRoute(locations, {ribbonOptions:{draggable:true, draggablepoi:true}});
       });
    }
    
     function getMap() {
        var options={
           elt: document.getElementById('map'),        
           zoom: 13,                              
           latLng: {lat:7.06359, lng: 125.60841},   
           mtype: 'osm',                             
           bestFitMargin: 0,             
           zoomOnDoubleClick: false                   
         };
        
        window.map = new MQA.TileMap(options); 
        MQA.EventManager.addListener(map, 'doubleclick', onMapDblClick);
     }
   

    

 </script>
{% endblock extra_js_top %}

{% block main %}
  <div id="map"></div>

<div> 
<p>Routes: </p>

<form method="POST">
  {% csrf_token %}
Route Name: <input type="text" name="route_name" value="" id="route_name" size="20" /></br> 
<button type="submit" name="save">Save new route</button>
</form>
</div>
{% endblock main %}
