{% extends "base.html" %} 

{% block header %}
    <header class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Open Route</a>
      </div>

      <div class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="{% url 'route:add-route' %}">Add new route</a></li>
          <li><a href="#">Routes</a></li>
          <li><a href="#">About</a></li>
        </ul>

      </div>

    </div>
  </header>
  {% endblock header %}

{% block main %}
  <div id="map"></div>
{% endblock main %}