{% extends "index_with_footer.html" %} 

{% block title %}Sample Route{% endblock title %}

{% block extra_css_top %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/route.css">
{% endblock extra_css_top %}

{% block extra_js_top %}
  <script type="text/javascript">
    $(function(){
      var map, dir;

      map = L.map('map', {
        layers: MQ.mapLayer(),
        center: [7.06359, 125.60841],
        zoom: 18
      });
       
      dir = MQ.routing.directions();
       
      dir.route({
        locations: [
          { latLng: { lat: 7.06359, lng: 125.60841 } },
          { latLng: { lat: 7.06889, lng: 125.61124 } },
        ]
      });
       
      map.addLayer(MQ.routing.routeLayer({
        directions: dir,
        fitBounds: true
      }));

      //map.on('click', function(e) {
      //alert(e.latlng);
      //});
    });
 </script>
{% endblock extra_js_top %}

{% block header_items_left %}
<li class="active"><a href="#">Map</a></li>
<li><a href="#">Routes</a></li>
<li><a href="#">About</a></li>
{% endblock header_items_left %}

{% block header_items_right %}
<form class="navbar-form navbar-right" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
</form>
{% endblock header_items_right %}

{% block sub_header_title %}
Map
{% endblock sub_header_title %}

{% block main %}
  <div id="map"></div>
{% endblock main %}