{% extends "index_with_footer.html" %}


{% block extra_css_top %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/route/route.css">
{% endblock extra_css_top %}

{% block extra_js_top %}
  <script type="text/javascript">

   var map;
   var marker;
   var points = [];
   var dictRoutes = [];

    //on map load
    $(document).ready(function() {     
     getMap();

    $("#allroutes tr").click(function(e){
      var data = [];
      var target = e.srcElement || e.target;
      var cells = target.getElementsByTagName("td");
      while (target && target.nodeName !== "TR") {
        target = target.parentNode;
      }
      if (target) {
          var cells = target.getElementsByTagName("td");
          for (var i = 0; i < cells.length; i++) {
              data.push(cells[i].innerHTML);
          }
      }

     points = [];
     convertStringToArray(data[3].trim());
     if (points.length >= 2 ){ 
                updateRoutes();
      }

      $("#route_name").val(data[1].trim());
      $("#route_destination").val(data[2].trim());
    });

     var frm = $('#form1');
      frm.submit(function () {
        var route_name = $('#route_name').val();
        var route_destination = $('#route_destination').val();

        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: {csrfmiddlewaretoken: "{{ csrf_token }}",'points[]': points,'route_name' : route_name, 'route_destination' : route_destination },
            success: function (data) {
                window.location.reload(true);
            }
        });
        return false;
      });
    });

    function convertStringToArray(inp){
      var tup1="", tup2="";
      var check=0;
      var comcheck=0;
      console.log(inp);
      for(var i=0;i<inp.length-1;i++){
          if(inp.charAt(i) == '('){
            continue;
          }
          else if(inp.charAt(i) == ',' && comcheck == 0){
              check = 1;
              comcheck = 1;
              continue;
          }
          else if(inp.charAt(i) == ',' && comcheck == 1){
            comcheck = 0;
            continue;
          }
          else if(inp.charAt(i) == ')'){
            check=0;
            addNewRoute(parseFloat(tup1.trim()),parseFloat(tup2.trim()));
            tup1 = "";
            tup2 = "";
            continue;
          }

          if(check == 0 && typeof inp.charAt(i) != "undefined"){
            tup1 = tup1 + inp.charAt(i);
          }
          else if(check == 1 && typeof inp.charAt(i) != "undefined"){
            tup2 = tup2 + inp.charAt(i);
          }
      }
    }

    function onMapDblClick(event) {
      var lat = event.ll.getLatitude();
      var lng = event.ll.getLongitude();
      addNewRoute(lat,lng);
      alert("Added new route point!");

      if (points.length >= 2 ){ 
        updateRoutes();
      }
    }


    function addNewRoute(lat,lng){
      console.log("lat:" + lat + "lng:" + lng);
        points.push([lat,lng]);
    }

    function clearRoutes(){
      points = []
      window.map.dispose();
      getMap();
    }
    
     function updateRoutes(){
      var locations = new Array(points.length);
         for(i = 0; i <points.length ; i++){
              locations.push({latLng: {lat: points[i][0], lng: points[i][1]}})
          }
          
      MQA.withModule('directions', function() {
          map.addRoute(locations, {ribbonOptions:{draggable:true, draggablepoi:true}});
         });
    }
    
     function getMap() {
        var options={
           elt: document.getElementById('map'),        
           zoom: 13,                              
           latLng: {lat:7.06359, lng: 125.60841},   
           mtype: 'osm',                             
           bestFitMargin: 0,             
           zoomOnDoubleClick: false                   
         };
        
        window.map = new MQA.TileMap(options); 

        MQA.withModule('largezoom','viewoptions','geolocationcontrol','insetmapcontrol','mousewheel', function() {
           map.addControl(
             new MQA.LargeZoom(),
             new MQA.MapCornerPlacement(MQA.MapCorner.TOP_LEFT, new MQA.Size(5,5))
           );
         
            /* var options={
             size: { width: 150, height: 125 },
             zoom: 3,
             mapType: 'osmsat',
             minimized: false
           };
         
           map.addControl(
             new MQA.InsetMapControl(options),
             new MQA.MapCornerPlacement(MQA.MapCorner.BOTTOM_RIGHT)
           ); */
         
           map.enableMouseWheelZoom();
         });

        MQA.EventManager.addListener(map, 'doubleclick', onMapDblClick);
     }
     
 </script>
{% endblock extra_js_top %}

{% block main %}
  <div id="map"></div>

<div id="testdiv"> 
<p>Routes: </p>
<button type="submit" name="clear" onclick="clearRoutes()">Clear Route Points</button>
<form method="POST" id="form1">
  {% csrf_token %}
  Route Name: <input type="text" name="route_name" value="" id="route_name" size="20" /></br> 
  Destination : <textarea rows="4" cols="50" name="route_destination" id="route_destination" placeholder="place, place"></textarea></br> 
  <button type="submit" name="save">Save new route</button>
  </br>  </br> 
</form>
<p>All Routes: </p>
  <table name="allroutes" id="allroutes">
  <th>Route ID</th>
  <th>Route Name</th>
  <th>Destination</th>
  <th>Route Points</th>
        {% for route in routes %}
        <tr id="indvroutes">
            <td>
                {{ route.id }}
            </td>
            <td>
                {{ route.route_name }}
            </td>
            <td>
                {{ route.destination }}
            </td>
            <td>
                {{ route.route_points.coords }}
            </td>
        </tr> 
        {% endfor %}  
  </table>
</div>
{% endblock main %}
