{% extends "main_with_map.html" %}

{% block title %}View Sample Route{% endblock title %}

{% block extra_css_top %}
{% endblock extra_css_top %}

{% block extra_js_top %}
  <script type="text/javascript">
    $(document).ready(function() {
      getMap();
      MQA.withModule('largezoom','viewoptions','geolocationcontrol','insetmapcontrol','mousewheel',
        function() {
          map.addControl(
            new MQA.LargeZoom(),
            new MQA.MapCornerPlacement(MQA.MapCorner.TOP_LEFT, new MQA.Size(5,5))
          );
          map.enableMouseWheelZoom();
        });
      });

      function getMap() {
        var options = {
           elt: document.getElementById('map'),
           zoom: 13,
           latLng: {lat:7.06359, lng: 125.60841},
           mtype: 'osm',
           bestFitMargin: 0,
           zoomOnDoubleClick: false
         };
        
      window.map = new MQA.TileMap(options);
      }
  </script>
{% endblock extra_js_top %}

{% block main_content %}
<div id="map" class="page-map" style="min-height: 500px;">
</div>
{% endblock main_content %}

{% block menu_panel %}
<div class="menu-panel">
  <div class="container">
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <a href="#" class="btn btn-lg btn-menu-panel" title="Search">
          <i class="fa fa-search"></i>
          <span class="visible-xs"> Search</span>
        </a>
      </div>
      <div class="btn-group">
        <a href="#" class="btn btn-lg btn-menu-panel" title="Current Location">
          <i class="fa fa-dot-circle-o"></i>
          <span class="visible-xs"> Current Location</span>
        </a>
      </div>
      <div class="btn-group">
        <a href="#" class="btn btn-lg btn-menu-panel" title="Refresh">
          <i class="fa fa-refresh"></i>
          <span class="visible-xs"> Refresh</span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock menu_panel %}