<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>

  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/cupertino/jquery-ui.css" type="text/css" media="all" />
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/route.css">

   <link rel="stylesheet" href="{{ STATIC_URL }}css/sticky.css">
  <!-- 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
   -->
  <script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> 
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
  <script src="http://beta.mapquestapi.com/sdk/leaflet/v0.1/mq-map.js?key=Fmjtd%7Cluur290125%2Caa%3Do5-90zx0y "></script>
  <script src="http://beta.mapquestapi.com/sdk/leaflet/v0.1/mq-routing.js?key=Fmjtd%7Cluur290125%2Caa%3Do5-90zx0y "></script>
  <script src="http://www.mapquestapi.com/sdk/js/v7.0.s/mqa.toolkit.js?key=Fmjtd%7Cluur290125%2Caa%3Do5-90zx0y "></script>

  {% block extra_meta %}{% endblock extra_meta %}
  {% block extra_css %}{% endblock extra_css %}
  {% block extra_js %}{% endblock extra_js %}
</head>

<body>
  <div id="wrap">
  {% block header %}
  {% endblock header %}
  {% block main %}
  {% endblock main %}

 
  <footer>
  {% block footer %}
  <div class="container">
    <p>Copyright &copy; 2013&ndash;2014 <a href="#">Open-Route</a> All rights reserved.</p>
  </div>
  {% endblock footer %}
  </footer>
   </div><!-- /#wrap -->
  {% block page_js %}
  {% endblock %}
</body>
</html>